extends main

block scripts
  script(src='/public/javascripts/draughts.js')

block content
  div#board(data-role='content')
  script(type='text/javascript')
    function start_game() {
      var game = make_draught_game(#{size}, jQuery('#board'));
      function resize_game() {
        var width = jQuery('body').width(), height = jQuery('body').height();
        console.log('window size: ' + width + 'x' + height);
        width -= (jQuery('#board').outerWidth() -  jQuery('#board').innerWidth());
        height -= jQuery("div[data-role=header]").outerHeight();
        height -= jQuery("div[data-role=footer]").outerHeight();
        height -= (jQuery('#board').outerHeight() -  jQuery('#board').innerHeight());
        game.resize(height, width);
      };

      var resizeTimer;
      jQuery(window).resize(function() {
          clearTimeout(resizeTimer);
          resizeTimer = setTimeout(resize_game, 100);
      });
      jQuery( window ).resize();
    }
    jQuery( document ).ready(function () {
      console.log(typeof(make_draught_game));
      if (typeof(make_draught_game) == 'undefined') {
        console.log('getting the script first you must!');
        jQuery.getScript('/public/javascripts/draughts.js').done(start_game);
      } else {
        console.log('already loaded the script you have');
        start_game();
      }
    });
