extends main

block content
  p.
    blahbblha blha welcome something  put real stuff there
    .
  a(href='draft_game', data-role='button') Just let me play you idiot!
  a(href='test_game', data-role='button') Just let me try you idiot!

