!!!
html
  head
    title Draugths game
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    //- block scripts
  body
    div(data-role='page', id='#{page_id}')
      div(data-role='header', data-position='fixed')
        block page_header
          h1 HTML5 Draughts
      block content
      div(data-role='footer') 
        //-,data-position='fixed'
        block page_footer
          h1 Made by Leo jPod
          a(data-icon='info', data-theme='c').ui-btn-right Who's that?
      block page_scripts
