extends main

block page_scripts
  script(src='/public/javascripts/utilities.js')
  script(src='/public/javascripts/draughts_core.js')
  script(src='/public/javascripts/draughts_ui.js')
  script(src='/public/javascripts/draughts_games.js')
  script(src='/public/javascripts/test_game.js')

block content
  div#board(data-role='content')
