.black {
  background-color: #2a6b1d;
}
.white {
  background-color: #dee0c5;
}
#board {
  border: solid 1px #000;
  margin: auto;
  padding: 0;
  overflow: hidden;
  /*display:table;*/
}
.draught_line {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*display:table-row;*/
}
.cell {
  margin: 0;
  padding: 0;
  /*display: table-cell;*/
  float: left;
  overflow: hidden;
}